<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class='no-js'> <!--<![endif]-->
<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width">
  <title ng-bind="title">[Test]</title>
  <meta name="keywords" property="og:keywords" content="{{keywords}}">
  <meta name="description" property="og:description" content="{{description}}">
  <link rel='stylesheet' href='purecss.min.css'>
  <link rel='stylesheet' href='style.css'>
  <link rel='stylesheet' href='font.css'>
  <!-- endbuild -->
</head>
<body data-ng-app='testApp'>
  <div class='view-animate-container' ng-class='direction'>
    <div ng-view class='view-animate pure-g-r' ng-cloak></div>
  </div>
  <div id='nav-terms' class='pure-u-1 pure-hidden-phone' ng-hide='hideFooter'>
    <div class='pure-g'>
      <a class='pure-u-1-3'>Terms & Condition</a>
      <a class='pure-u-1-3' href='#/'><h1 id='nav-logo'>Guinness</h1></a>
      <a class='pure-u-1-3'><span class="icon-volume-high"></span></a>
    </div>
  </div>
  <div id='playBtn' ng-hide='hidePlayerBtn' class='pure-u-1 pure-hidden-desktop pure-hidden-tablet'><a href='#/landing'>play video</a></div>
  <!-- <div class='pure-g-r'>
    <div id='accordion' class='pure-g'>
      <form class="pure-form pure-u-1">
        <ul>
          <li>
            <input id="rad1" type="radio" name="radio">
            <label for="rad1">Where are you? <span>{{country}}</span></label>
            <div class="accslide">
              <select ng-model='country' >
                <option value="">Country</option>
                <option>Malaysia</option>
                <option>Singapore</option>
                <option>Hongkong</option>
              </select> 
            </div>
          </li>
          <li ng-hide="!(country == 'Malaysia')">
            <input id="rad2" type="radio" name="radio">
            <label for="rad2">I am a muslim.</label>
            <div class="accslide">
              <select ng-model='muslim' class="pure-input-1">
                <option value=""></option>
                <option>Yes</option>
                <option>No</option>
              </select> 
          
            </div>
          </li>
          <li>
            <input id="rad3" type="radio" name="radio">
            <label for="rad3">When were you born ? <span>{{birthday}}</span></label>
            <div class="accslide">
              <input ng-model="birthday" type="datetime" placeholder="DD-MM-YYYY" />
              <select ng-model='country' class="pure-input-1">
                <option value="">Country</option>
                <option>Malaysia</option>
                <option>Singapore</option>
                <option>Hongkong</option>
              </select> 
            </div>
          </li>
          <li>
            <input id="rad4" type="radio" name="radio">
            <label for="rad4">Cookie</label>
            <div class="accslide">
              <label for="remember" class="pure-checkbox">
                <input id="remember" checked='true' type="checkbox">Save these choices to make your next visit smoother.
              </label>
            </div>
          </li>
        </ul>  
      </form>
    </div>
  </div> -->
  <script>
      var isMobile = {
          Android: function() {
              return navigator.userAgent.match(/Android/i);
          },
          BlackBerry: function() {
              return navigator.userAgent.match(/BlackBerry/i);
          },
          iOS: function() {
              return navigator.userAgent.match(/iPhone|iPad|iPod/i);
          },
          Opera: function() {
              return navigator.userAgent.match(/Opera Mini/i);
          },
          Windows: function() {
              return navigator.userAgent.match(/IEMobile/i);
          },
          any: function() {
              return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows())  ;
          }
      };
  
       if(isMobile.any()){
           // Mobile!
           console.log('isMobile.any()',isMobile.any());
       } else {
           // Not mobile
           console.log('not mobile');
       }
  </script>

  <script src='lib/js/jquery.min.js'></script> <!-- for infinite scroll -->
  <script src='lib/angular/angular.min.js'></script>
  <script src='lib/angular/angular-route.min.js'></script>
  <script src='lib/angular/angular-resource.min.js'></script>
  <script src='lib/angular/angular-cookies.min.js'></script>
  <script src='lib/angular/angular-sanitize.min.js'></script>
  <script src='lib/angular/angular-touch.min.js'></script>
  <script src='lib/angular/angular-animate.min.js'></script>
  <!-- app -->
  <script src='scripts/app.js'></script>
  <script src='scripts/controller.js'></script>
  <!-- modernizr html5 video -->
  <script src='lib/js/modernizr.html5video.js'></script>
  <!-- infinite scroll angular -->
  <script src='lib/js/infinite-scroll.js'></script>
</body>
</html>