<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class='no-js'> <!--<![endif]-->
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>snow browser test</title>
  <meta name='description' content="">
  <meta name='viewport' content='width=device-width'>
  <link rel='stylesheet' href='purecss.min.css'>
  <link rel='stylesheet' href='style.css'>
  <!-- endbuild -->
</head>
<body>
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="bower_components/es5-shim/es5-shim.js"></script>
      <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
  <!-- <div class='container'>
    <div id='letitsnow'>Let it snow</div>
  </div> -->
  <div class='pure-g-r'>
    <div id='accordion' class='pure-g'>
    <form class="pure-form pure-u-1">
      <ul>
        <li>
          <input id="rad1" type="radio" name="radio">
          <label for="rad1">Where are you? <span>{{country}}</span></label>
          <div class="accslide">
            <select ng-model='country' class="pure-input-1">
              <option value="">Country</option>
              <option>Malaysia</option>
              <option>Singapore</option>
              <option>Hongkong</option>
            </select> 
          </div>
        </li>
        <li ng-hide="!(country == 'Malaysia')">
          <input id="rad2" type="radio" name="radio">
          <label for="rad2">I am a muslim.</label>
          <div class="accslide">
            <select ng-model='muslim' class="pure-input-1">
              <option value=""></option>
              <option>Yes</option>
              <option>No</option>
            </select> 
        
          </div>
        </li>
        <li>
          <input id="rad3" type="radio" name="radio">
          <label for="rad3">When were you born ? <span>{{birthday}}</span></label>
          <div class="accslide">
            <input ng-model="birthday" type="datetime" placeholder="DD-MM-YYYY" />
            <select ng-model='country' class="pure-input-1">
              <option value="">Country</option>
              <option>Malaysia</option>
              <option>Singapore</option>
              <option>Hongkong</option>
            </select> 
          </div>
        </li>
        <li>
          <input id="rad4" type="radio" name="radio">
          <label for="rad4">Cookie</label>
          <div class="accslide">
            <label for="remember" class="pure-checkbox">
              <input id="remember" checked='true' type="checkbox">Save these choices to make your next visit smoother.
            </label>
          </div>
        </li>
      </ul>  
    </form>
  </div>
    </div>
</body>
</html>