/*Custom CSS styles being used on top of the standard Foundation 4 style sheet*/

* {
    margin: 0;
    padding: 0;
}

a {
    color: white;
    font-style: italic;
}

/*Keyframes*/

@keyframes snow { 
  0% { background-position: 0px 0px, 0px 0px, 0px 0px }

  100% { background-position: 500px 1000px, 400px 400px, 300px 300px }
}

@-moz-keyframes snow { 
  0% { background-position: 0px 0px, 0px 0px, 0px 0px }

  100% { background-position: 500px 1000px, 400px 400px, 300px 300px }
}

@-webkit-keyframes snow { 
  0% { background-position: 0px 0px, 0px 0px, 0px 0px }

  50% { background-color: transparent }

  100% {
      background-position: 500px 1000px, 400px 400px, 300px 300px;
      background-color: transparent;
  }
}

@-ms-keyframes snow { 
  0% { background-position: 0px 0px, 0px 0px, 0px 0px }

  100% { background-position: 500px 1000px, 400px 400px, 300px 300px }
}

html {
  height: 100%;
}
body {
  background: url(chim-chiminy.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-y: scroll;
  height: 100%;
  font-size: 16px;
}

.container {
  height: 100%;
  margin: 0;
  text-align: center;
  color: white;
  font: 100px/1 'Spirax', cursive;
  text-shadow: 0px 0px 4px rgba(0,0,0, 0.5);
  background-color: transparent;
  background-image: url(snow_blur1.png), url(snow_blur2.png), url(snow.png);
  -webkit-animation: snow 20s linear infinite;
  -moz-animation: snow 20s linear infinite;
  -ms-animation: snow 20s linear infinite;
  animation: snow 20s linear infinite;
}

#letitsnow {
  background: url(logo.png) no-repeat center center;
  background-size: 216px 133px;
  line-height: 133%;
  position: relative;
  top: 50%;
  text-indent: -999em;
  transform: translateY(-50%);
}


#accordion ul {
    color: #fff;
    list-style: none;
    margin: 0;
    padding: 0;
  }

#accordion ul li > input {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

#accordion label {
    display: block;
    float: left;
    height: 50px;
    width: 100%;
    overflow: hidden;
    text-align: center;
    font: 14px/50px Helvetica, Verdana, sans-serif;  
    border-top: 1px solid rgba(0,0,0,.7);
    -webkit-transition: height 0.1s ease, background 0.1s ease;
       -moz-transition: height 0.1s ease, background 0.1s ease;
         -o-transition: height 0.1s ease, background 0.1s ease;
        -ms-transition: height 0.1s ease, background 0.1s ease;
            transition: height 0.1s ease, background 0.1s ease;
  }

#accordion label:hover {
    background: #232323;
    color: #fff;
    cursor: pointer;
  }

#accordion .accslide {
    display: block;
    height: 0;
    width: 100%;
    float: left;
    overflow: hidden;
    color: #333;
    background: rgba(225,225,225,.8);     
    -webkit-transition: all 0.5s ease;
       -moz-transition: all 0.5s ease;
         -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
            transition: all 0.5s ease;
  }
   
#accordion input[type="radio"]:checked ~ .accslide {
    height: 200px;
  }