/*Custom CSS styles being used on top of the standard Foundation 4 style sheet*/

* {
    margin: 0;
    padding: 0;
}

a {
    color: white;
    font-style: italic;
}

/*Keyframes*/

@keyframes snow { 
  0% { background-position: 0px 0px, 0px 0px, 0px 0px }

  100% { background-position: 500px 1000px, 400px 400px, 300px 300px }
}

@-moz-keyframes snow { 
  0% { background-position: 0px 0px, 0px 0px, 0px 0px }

  100% { background-position: 500px 1000px, 400px 400px, 300px 300px }
}

@-webkit-keyframes snow { 
  0% { background-position: 0px 0px, 0px 0px, 0px 0px }

  50% { background-color: transparent }

  100% {
      background-position: 500px 1000px, 400px 400px, 300px 300px;
      background-color: transparent;
  }
}

@-ms-keyframes snow { 
  0% { background-position: 0px 0px, 0px 0px, 0px 0px }

  100% { background-position: 500px 1000px, 400px 400px, 300px 300px }
}

html {
  height: 100%;
}
body {
  background: url(chim-chiminy.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-y: scroll;
  height: 100%;
}

.container {
  height: 100%;
  margin: 0;
  text-align: center;
  color: white;
  font: 100px/1 'Spirax', cursive;
  text-shadow: 0px 0px 4px rgba(0,0,0, 0.5);
  background-color: transparent;
  background-image: url(snow_blur1.png), url(snow_blur2.png), url(snow.png);
  -webkit-animation: snow 20s linear infinite;
  -moz-animation: snow 20s linear infinite;
  -ms-animation: snow 20s linear infinite;
  animation: snow 20s linear infinite;
}

#letitsnow {
  background: url(logo.png) no-repeat center center;
  background-size: 216px 133px;
  height: 150px;
  position: relative;
  top: 45%;
  text-indent: -999em;
  transform: translateY(-45%);
}