<div id='layer-dark'></div>
<div class='pure-u-1-3 pure-hidden-phone'></div>
<!-- For mobile -->
<div class='pure-u-1-3 pure-hidden-tablet pure-hidden-desktop' id='agegate-container'>
  <ul id='agegate-list'>
    <li>
      <input id='rad1' type='radio' name='radio' checked>
      <label for='rad1'>Where are you? <span>[ {{country}} / {{muslim}} ]</span></label>
      <form name='form' class="pure-form pure-u-1 accslide">
          <div class='pure-hidden-desktop pure-hidden-tablet'>
            <select ng-model='country' class='pure-input-1' >
              <option value=''>Country</option>
              <option ng-repeat='item in countries' data-age='{{item.age}}' value='{{item.age}}'>{{item.name}}</option>
            </select>
          </div>
          <div ng-hide="(country !== 'Malaysia')">
            <input id='muslim-yes' type='checkbox' value='true' ng-model='muslim' checked='checked' ng-click='muslimTrue()'/>
            <label for='muslim-yes' class='input-helper input-helper--checkbox'>I am a muslim.</label>
          </div>
      </form>
    </li>
    <li ng-hide="(country == 'Malaysia') || (country == 'Country') ">
      <input id='rad2' type='radio' name='radio'>
      <label for='rad2'>When were you born ? <span>[{{birthday}}]</span></label>
      <form name="myForm" class='accslide'>
        <br>
        <input ng-model='birthday' type="date" name="bday" required />
        <!-- <input class='pure-input-1' ng-model='birthday' type='datetime' placeholder={{bdaytime}} required /> -->
        <!-- <span class="error" ng-show="myForm.input.$error.required">Required!</span><br> -->
       <!--  <tt>birthday = {{birthday}}</tt><br>
        <tt>myForm.input.$valid = {{myForm.input.$valid}}</tt><br>
        <tt>myForm.input.$error = {{myForm.input.$error}}</tt><br>
        <tt>myForm.$valid = {{myForm.$valid}}</tt><br>
        <tt>myForm.$error.required = {{!!myForm.$error.required}}</tt><br> -->
      </form>
    </li>
    <li ng-show='myForm.$valid'>
      <input id='rad3' type='radio' name='radio'>
      <label for='rad3'>Cookie {{cookie}}</label>
      <form name="myForm3" class='accslide' data-ng-submit='submitFormMobile(country, birthday)'>        
          <input id='cookie' type='checkbox' ng-model='cookie' value='true' checked='checked'>
          <label for='cookie' class='input-helper input-helper--checkbox'> Save these choices to make your next visit  smoother.</label>
        <input ng-disabled="!(cookie)" id='rad5' type='submit' name='submit' class='pure-button button-page' value='submit.m'>
      </form>
    </li>
  </ul>
</div>
<!-- 
  For desktop 
-->
<div class='pure-u-1-3 pure-hidden-phone'>
  <div id='accordion' class='pure-g pure-hidden-phone'>
    <form name='agegateDesktop' class="pure-form pure-u-1">
      <ul>
        <li>
          <input id='country' type='radio' name='radio'>
          <label for='country'>Where are you? <span>{{muslim}}</span></label>
          <div class='accslide'>
            <div id='dropdown' class='pure-hidden-phone'>
              <p ng-class="{upsidedown: listdown == true}" ng-click="listdown = !listdown">{{country}} <span class='icon-arrow-down2'></p>
              <ul class='dropdown' ng-show='listdown'>
                <!-- <li>
                  <input id='country1' name='radio' type='radio' ng-model='country' value='country' data-age='' required />
                  <label for='country1' ng-click='listdown = false'>Choose your country</label>
                </li> -->
                <li ng-repeat='item in countries'>
                  <input id='item.name' name='radio' type='radio' ng-model='country' value='item.name' data-age='item.age' />
                  <label for='item.name' ng-click='getAge(item.age, item.name)'>{{item.name}}</label>
                </li>
              </ul>
              <div ng-hide="(country !== 'Malaysia')">
                <input id='muslim-yes' type='checkbox' value='true' ng-model='muslim' checked='checked' ng-click='click()'/>
                <label for='muslim-yes' class='input-helper input-helper--checkbox'>I am a muslim.</label>
            </div>
            </div>
          </div>
        </li>
        <li id='age-gate-bday'>
          <input id='bday' type='radio' name='radio'>
          <label for='bday'>When were you born ? <span>{{birthday}}</span></label>
          <div class='accslide'>
            <input class='pure-input-1' ng-model='birthday' type='datetime' placeholder='DD-MM-YYYY' required />
          </div>
        </li>
        <li>
          <input id='remember' type='radio' name='radio'>
          <div class='accslide'>
            <input id='cookie' type='checkbox' ng-model='cookie' value='true' checked='checked'>
            <label for='cookie' class='input-helper input-helper--checkbox'> Save these choices to make your next visit  smoother.</label>
          </div>
        </li>
        <li>
          <a ng-disabled="!(cookie)" class='pure-button button-page' ng-click='submitFormDesktop(birthday)'>Submit</a>
        </li>
      </ul>  
    </form>
  </div>
</div>
<div class='pure-u-1-3 pure-hidden-phone'></div>