<div id='layer-dark'></div>
<!-- backgroung video -->
<div style="height: 100%; width: 100%;" id="_giphy_ArJIdoKqGR3Ec" class='pure-hidden-phone'></div>
<div class='pure-u-1-2 pure-hidden-phone '>
</div>
<div class='pure-u-1-2'>
  <div class='pure-g' id='landing-page'>
    <!-- desktop. go to behind the scene -->
    <div class='pure-u-1 pure-hidden-phone landing-page-desktop alignment-m'>
      <div class='l-box'>
        <a href='#/behind-the-scene' class='pure-button button-page' id='behind-the-scene-desktop'><span class='icon-camera'></span>Go behind the scene</a>
      </div>
    </div>
    <div class='pure-u-1' id='video-wrapper'>
      <div class='video-container alignment-m'>
        <video width="80%" height="auto" poster='images/video-def.png' controls>
          <source src="http://www.w3schools.com/html/movie.mp4" type="video/mp4">
        </video>
      </div>
      <!-- mobile. go to behind the scene -->
    <div class='pure-u-1 alignment-m pure-hidden-desktop pure-hidden-tablet'>
      <a href='#/behind-the-scene' id='behind-the-scene-mobile'><span class='icon-camera'></span>Go behind the scene</a>
    </div>
    </div>
    <div class='pure-u-1 pure-hidden-phone alignment-m'>
      <p>Ready to make your own move?</p>
      <p>Pledge to do something outside your comfort zone and you could win:</p>
    </div>
    <div class='pure-u-1 pure-hidden-phone'>
      <div class='pure-g'>
        <div class='pure-u-5-8 landing-page-desktop'>
          <h3>The grand prize</h3>
          <p>We make your bold pledge a reality.</p>
        </div>
        <div class='pure-u-3-8 landing-page-desktop'>
          <div class='l-box'>
            <h3>Weekly prizes:</h3>
            <p>An iPad mini</p>
          </div>
        </div>
      </div>
    </div>
    <div class='pure-u-1 pure-hidden-desktop pure-hidden-tablet' id='landing-page-mobile'>
      <div class='l-box alignment-m'>
        <p>Ready to make your move?</p>
        <p>Pledge to do something outside</p>
        <p>your comfort zone and you could win:</p>
        <h3>The grand prize</h3>
        <p>We make your bold pledte a reality.</p>
        <h3>Weekly prizes</h3>
        <p>An ipad mini</p>
        <p>So show us what are you made of</p>
      </div>
    </div>
    <div class='pure-u-1 alignment-m'>
      <p class='pure-hidden-phone'>So show us what are you made of</p><br>
      <a href="#/made-of-more" class='pure-button button-page pure-hidden-phone'>What are you made of ?</a>
      <a href="#/made-of-more" class='pure-button button-page pure-hidden-desktop pure-hidden-tablet'>Go</a>
    </div>
  </div>
</div>
<div id='nav-terms-landing' class='pure-u-1 pure-hidden-desktop pure-hidden-tablet'>
  <div class='pure-g'>
    <a class='pure-u-1-3'>Terms & Condition</a>
    <a class='pure-u-1-3' href='#/'><h1 id='nav-logo'>Guinness</h1></a>
    <a class='pure-u-1-3' ng-click="sound = !sound" ng-model='sound' ng-init='sound=true'>
      <span ng-show='sound == true' class='icon-volume-high'></span>
      <span ng-show='sound == false' class='icon-volume-mute'></span>
    </a>
  </div>
</div>