<div id='layer-dark'></div>
<div id='nav-mobile' class='pure-u-1 pure-hidden-desktop pure-hidden-tablet'>
  <div class='pure-g'>
    <a class='pure-u-1-3' ng-click="back()"><span class='icon-arrow-left2'></span></a>
    <a class='pure-u-1-3' href='/'><h1 id='nav-logo'>Guinness</h1></a>
    <a class='pure-u-1-3' ng-click="sound = !sound" ng-model='sound' ng-init='sound=true'>
      <span ng-show='sound == true' class='icon-volume-high'></span>
      <span ng-show='sound == false' class='icon-volume-mute'></span>
    </a>
  </div>
</div>
<div id='nav-tablet-desktop' class='pure-u-1 pure-hidden-phone'>
  <div class='pure-g'>
    <a class='pure-u-1-3' ng-click="back()"><span class='icon-arrow-left2'></span>Play film</a>
    <a class='pure-u-1-3'>What are you made of?</a>
    <p class='pure-u-1-3'></p>
  </div>
</div>
<section class='pure-u-1'>
  <h2 class='pure-u-1 pure-hidden-desktop pure-hidden-tablet'>What are you made of ?</h2>
  <ul id='tab-madeofmore' class='pure-g'>
    <li class='pure-u-1-3' ng-class="{active: tabId == 1}" ng-click="tabId = 1">Most popular</li>
    <li class='pure-u-1-3' ng-class="{active: tabId == 2}" ng-click="tabId = 2">Join</li>
    <li class='pure-u-1-3' ng-class="{active: tabId == 5}" ng-click="tabId = 5">Prizes</li>
  </ul>
  <div id='content-madeofmore' ng-init='tabId=1'>
    <div ng-show='tabId == 1' when-scrolled='loadingPost()' id='mom-popular' class='pure-g-r' >
      <div ng-repeat="i in items" class='pure-u-1-3'>
        <!-- {{i.id}} -->
        <div class='m-box'>
          <img src='images/default.png' />
          <ul class='pure-g'>          
            <li class='pure-u-7-24'><span class='icon-heart'></span>100 likes</li>
            <li class='pure-u-7-24'><span class='icon-forward'></span>100   shares</li>
            <li class='pure-u-5-24'><button type='submit' class='pure-button button-share'><span class='icon-heart'></span>Like</button></li>
            <li class='pure-u-5-24'><button type='submit' class='pure-button button-share'><span class='icon-heart'></span>Share</button></li>
          </ul>
        </div>
      </div>
    </div>
    <div ng-show='tabId == 2' id='mom-share' class='pure-g-r' >
      <div class='pure-u-1'>
        <div class='l-box alignment-m'>
          <img src='images/default.png'/>
        </div>
      </div>
      <div class='pure-u-1 alignment-m'>
        <a class='pure-button button-fb-share' ng-click='tabId = 3'>Share</a>
      </div>
    </div>
    <div ng-show='tabId == 3' id='mom-join'>
      <div class='pure-u-1'>
        <div class='l-box'>
          <form id='form-join' class='pure-form pure-form-stacked'>
            <fieldset>
              <legend>To join the contest, we need a few details.</legend>          
              <div class="pure-g-r">
                <div class='pure-u-1-2'>
                  <div class='t-box'>
                    <label for="first-name" class='input-form'>First Name</label>
                    <input class='pure-input-1' id="first-name" type="text" placeholder='First Name'>
                  </div>
                </div>
                <div class='pure-u-1-2'>
                  <div class='t-box'>
                    <label for='last-name' class='input-form'>Last Name</label>
                    <input class='pure-input-1' id='last-name' type="text" placeholder='Last Name'>
                  </div>
                </div>
          
                <div class='pure-u-1-2'>
                  <div class='t-box'>
                    <label for='bday' class='input-form'>Date of birth</label>
                    <input id='bday' class='pure-input-1' ng-model='birthday' type='datetime' placeholder='DD-MM-YYYY' required>
                  </div>
                </div>
                <div class="pure-u-1-2 pure-hidden-phone">
                  <div class='t-box'></div>
                </div>
          
                <div class='pure-u-1-2'>
                  <div class='t-box'>
                    <label for='email' class='input-form'>Email</label>
                    <input class='pure-input-1' id='email' type='email' placeholder='Email' required>
                  </div>
                </div>          
                <div class='pure-u-1-2'>
                  <div class='t-box'>
                    <label for="phone" class='input-form'>Phone</label>
                    <input class='pure-input-1' id="phone" type="text" placeholder='Phone' required>
                  </div>
                </div>
              </div>
              <div class='pure-u-1'>
                <div class='t-box'>
                  <input id="emailoffers" type='checkbox' value="myValue 1" checked>
                  <label for="emailoffers" class="input-helper input-helper--checkbox"> Email me guinness news and offers.</label>
                  </div>
              </div>

              <div class='pure-u-1'>
                <div class='t-box'>
                  <input id='smsoffers' type='checkbox' value="myValue 1" checked>
                  <label for='smsoffers' class="input-helper input-helper--checkbox"> SMS me guinness news and offers.</label>
                  </div>
              </div>

              <div class='pure-u-1'>
                <div class='t-box'>
                  <input id='terms' type='checkbox' value="myValue 1" checked>
                  <label for='terms' class="input-helper input-helper--checkbox"> I've read the terms and conditions.</label>
                  </div>
              </div>
          
              <button ng-click='tabId=4' class="pure-button button-register">Register</button>
            </fieldset>
          </form>
          <!-- <h3>Bold or bolder ?</h3>
          <h3 ng-click='tabId = 3'>Bold</h3>
          <p>Pick an animation and share. </p>
          <p>The most shares wins our weekly prize.</p>
          <h3 ng-click='tabId = 4'>Bolder</h3>
          <p>Pick an animation and share. </p>
          <p>The most shares wins our weekly prize.</p> -->
        </div>
      </div>
    </div>
    <div ng-show='tabId == 4' id='register-success'>
      <div class='pure-u-1'>
        <div class='l-box alignment-m'>
          <h3>Thanks for your entry.</h3>
          <img src='images/redirecting.png'/>
          <p>You always seize the day, so you're definitely made of more here's to you!</p>
          <p>Try again for another chance to win!</p>
        </div>
        <div class='pure-u-1 alignment-m'>
          <a class='pure-button button-fb-share'>Share the video</a>
        </div>
      </div>
    </div>
    <div ng-show='tabId == 5' id='mom-prize'>
      <h3>The grand prizes</h3>
      <p>We make your bold pledge a reality.</p>
      <h3>Weekly prizes</h3>
      <p>An iPad Mini</p>
    </div>
  </div>
</section>