<div id='layer-dark'></div>
<div class='block-container pure-u-1'>
  <img src='images/redirecting.png'/>
</div>
<div id='aaa' class='pure-u-1'>
  <p>You're being redirected to drinkiq.</p>
  <!-- .spinner.loading / .spinner -->
  <div class="spinner loading">
    <div class="spinner-container container1">
      <div class="circle1"></div>
      <div class="circle2"></div>
      <div class="circle3"></div>
      <div class="circle4"></div>
    </div>
    <div class="spinner-container container2">
      <div class="circle1"></div>
      <div class="circle2"></div>
      <div class="circle3"></div>
      <div class="circle4"></div>
    </div>
    <div class="spinner-container container3">
      <div class="circle1"></div>
      <div class="circle2"></div>
      <div class="circle3"></div>
      <div class="circle4"></div>
    </div>
  </div>
</div>