<div id='layer-dark'></div>
<div id='nav-mobile' class='pure-u-1 pure-hidden-desktop pure-hidden-tablet'>
  <div class='pure-g'>
    <a class='pure-u-1-3' ng-click="back()"><span class='icon-arrow-left'></span></a>
    <a class='pure-u-1-3' href='/'><h1 id='nav-logo'>Guinness</h1></a>
    <a class='pure-u-1-3'><span class='icon-volume-high'></span></a>
  </div>
</div>
<div id='nav-tablet-desktop' class='pure-u-1 pure-hidden-phone'>
  <div class='pure-g'>
    <a class='pure-u-1-3' ng-click="back()"><span class='icon-arrow-left2'></span>Play film</a>
    <a class='pure-u-1-3'>What are you made of?</a>
    <p class='pure-u-1-3'></p>
  </div>
</div>
<section class='pure-u-1'>
	<h2 class='pure-u-1 pure-hidden-desktop pure-hidden-tablet'>What are we made of ?</h2>
	<ul id='tab-madeofmore' class='pure-g'>
  	<li class='pure-u-1-3' ng-class="{active: tabId == 1}" ng-click="tabId = 1">Most popular</li>
  	<li class='pure-u-1-3' ng-class="{active: tabId == 2}" ng-click="tabId = 2">Join</li>
  	<li class='pure-u-1-3' ng-class="{active: tabId == 5}" ng-click="tabId = 5">Prizes</li>
  </ul>
	<div id='content-madeofmore' ng-init="tabId=1">
    <div ng-show='tabId == 1' id='mom-popular' class='pure-g-r' >
      <div class='pure-u-1-3'>
        <div class='m-box'>
          <img src='images/default.png' />
          <ul class='pure-g'>          
            <li class='pure-u-7-24'><span class='icon-heart'></span>100 likes</li>
            <li class='pure-u-7-24'><span class='icon-forward'></span>100 shares</li>
            <li class='pure-u-5-24'><button type="submit" class="pure-button button-share"><span class='icon-heart'></span>Like</button></li>
            <li class='pure-u-5-24'><button type="submit" class="pure-button button-share"><span class='icon-heart'></span>Share</button></li>
          </ul>
        </div>
      </div>
    	<div class='pure-u-1-3'>
        <div class='m-box'>
    		  <img src='images/default.png' />
    		  <ul class='pure-g'>          
    		  	<li class='pure-u-7-24'><span class='icon-heart'></span>100 likes</li>
    		  	<li class='pure-u-7-24'><span class='icon-forward'></span>100 shares</li>
    		  	<li class='pure-u-5-24'><button type="submit" class="pure-button button-share"><span class='icon-heart'></span>Like</button></li>
    		  	<li class='pure-u-5-24'><button type="submit" class="pure-button button-share"><span class='icon-heart'></span>Share</button></li>
    		  </ul>
        </div>
    	</div>
    	<div class='pure-u-1-3'>
        <div class='m-box'>
    		  <img src='images/default.png' />
    		  <ul class='pure-g'>
    		  	<li class='pure-u-7-24'><span class='icon-heart'></span>200 likes</li>
    		  	<li class='pure-u-7-24'><span class='icon-forward'></span>200 shares</li>
    		  	<li class='pure-u-5-24'><button type="submit" class="pure-button button-share like"><span class='icon-heart'></span>Like</button></li>
    		  	<li class='pure-u-5-24'><button type="submit" class="pure-button button-share share"><span class='icon-heart'></span>Share</button></li>
    		  </ul>
        </div>
    	</div>
      <div class='pure-u-1-3'>
        <div class='m-box'>
          <img src='images/default.png' />
          <ul class='pure-g'>          
            <li class='pure-u-7-24'><span class='icon-heart'></span>100 likes</li>
            <li class='pure-u-7-24'><span class='icon-forward'></span>100 shares</li>
            <li class='pure-u-5-24'><button type="submit" class="pure-button button-share"><span class='icon-heart'></span>Like</button></li>
            <li class='pure-u-5-24'><button type="submit" class="pure-button button-share"><span class='icon-heart'></span>Share</button></li>
          </ul>
        </div>
      </div>
    	<div class='pure-u-1-3'>
        <div class='m-box'>
    		  <img src='images/default.png' />
    		  <ul class='pure-g'>
    		  	<li class='pure-u-7-24'><span class='icon-heart'></span>111 likes</li>
    		  	<li class='pure-u-7-24'><span class='icon-forward'></span>111 shares</li>
    		  	<li class='pure-u-5-24'><button type="submit" class="pure-button button-share like"><span class='icon-heart'></span>Like</button></li>
    		  	<li class='pure-u-5-24'><button type="submit" class="pure-button button-share share"><span class='icon-heart'></span>Share</button></li>
    		  </ul>
        </div>
    	</div>
      <div class='pure-u-1-3'>
        <div class='m-box'>
          <img src='images/default.png' />
          <ul class='pure-g'>          
            <li class='pure-u-7-24'><span class='icon-heart'></span>100 likes</li>
            <li class='pure-u-7-24'><span class='icon-forward'></span>100 shares</li>
            <li class='pure-u-5-24'><button type="submit" class="pure-button button-share like"><span class='icon-heart'></span>Like</button></li>
            <li class='pure-u-5-24'><button type="submit" class="pure-button button-share share"><span class='icon-heart'></span>Share</button></li>
          </ul>
        </div>
      </div>
      <div class='pure-u-1-3'>
        <div class='m-box'>
          <img src='images/default.png' />
          <ul class='pure-g'>
            <li class='pure-u-7-24'><span class='icon-heart'></span>500 likes</li>
            <li class='pure-u-7-24'><span class='icon-forward'></span>500 shares</li>
            <li class='pure-u-5-24'><button type="submit" class="pure-button button-share like"><span class='icon-heart'></span>Like</button></li>
            <li class='pure-u-5-24'><button type="submit" class="pure-button button-share share"><span class='icon-heart'></span>Share</button></li>
          </ul>
        </div>
      </div>
      <div class='pure-u-1-3'>
        <div class='m-box'>
          <img src='images/default.png' />
          <ul class='pure-g'>
            <li class='pure-u-7-24'><span class='icon-heart'></span>210 likes</li>
            <li class='pure-u-7-24'><span class='icon-forward'></span>210 shares</li>
            <li class='pure-u-5-24'><button type="submit" class="pure-button button-share like"><span class='icon-heart'></span>Like</button></li>
            <li class='pure-u-5-24'><button type="submit" class="pure-button button-share share"><span class='icon-heart'></span>Share</button></li>
          </ul>
        </div>
      </div>
      <div class='pure-u-1-3'>
        <div class='m-box'>
          <img src='images/default.png' />
          <ul class='pure-g'>
            <li class='pure-u-7-24'><span class='icon-heart'></span>200 likes</li>
            <li class='pure-u-7-24'><span class='icon-forward'></span>200 shares</li>
            <li class='pure-u-5-24'><button type="submit" class="pure-button button-share like"><span class='icon-heart'></span>Like</button></li>
            <li class='pure-u-5-24'><button type="submit" class="pure-button button-share share"><span class='icon-heart'></span>Share</button></li>
          </ul>
        </div>
      </div>
      <div class='pure-u-1-3'>
        <div class='m-box'>
          <img src='images/default.png' />
          <ul class='pure-g'>
            <li class='pure-u-7-24'><span class='icon-heart'></span>111 likes</li>
            <li class='pure-u-7-24'><span class='icon-forward'></span>111 shares</li>
            <li class='pure-u-5-24'><button type="submit" class="pure-button button-share like"><span class='icon-heart'></span>Like</button></li>
            <li class='pure-u-5-24'><button type="submit" class="pure-button button-share share"><span class='icon-heart'></span>Share</button></li>
          </ul>
        </div>
      </div>
    </div>
    <div ng-show='tabId == 2'>
      <div class='pure-u-1'>
        <div class='l-box alignment-m'>
          <img src='images/default.png'/>
        </div>
      </div>
      <div class='pure-u-1 alignment-m'>
        <a class="pure-button button-fb-share" ng-click='tabId = 3'>Share</a>
      </div>
    </div>
    <div ng-show='tabId == 3' id='mom-join'>
    </div>
    <div ng-show='tabId == 4' id='register-success'>
      <div class='pure-u-1'>
        <div class='l-box alignment-m'>
          <h3>Thanks for your entry.</h3>
          <img src='images/redirecting.png'/>
          <p>You always seize the day, so you're definitely made of more here's to you!</p>
          <p>Try again for another chance to win!</p>
        </div>
        <div class='pure-u-1 alignment-m'>
          <a class="pure-button button-fb-share">Share the video</a>
        </div>
      </div>
    </div>
    <div ng-show='tabId == 5' id='mom-prize'>
      <!-- <div>
        <div infinite-scroll='loadMore()' infinite-scroll-distance='2'>
          <img ng-repeat='image in images' ng-src='http://placehold.it/225x250&text={{image}}'>
        </div>
      </div> -->
      <div id="fixed" when-scrolled="loadMore()">
        <ul>
          <li style='height: 120px; border-bottom: 1px solid gray;' ng-repeat="i in items">{{i.id}}</li>
        </ul>  
      </div>
    </div>
  </div>
</section>